/* APLICA A consulta_acreedor_tabla.html */
* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0 auto;
    text-align: center;
    color: white;
    background: #403A3E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BE5869, #403A3E);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #BE5869, #403A3E); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background: linear-gradient(to right, #BE5869, white); 

}

h1 {
    color:white;
}
.menu {
    margin: 0 25px;
    width: 50px;
    font-size: 1.2em;
}

.menu a {
    color: blue;
    font-weight: bold;
}

main {
    margin-top: 15px;
    /* border: 1px solid blue; */
}

form {
    /* border: 1px solid red; */
    margin: 0 auto ;
    text-align: center;
}

.clave {
    font-size: 1.5em;
    color: #d1d1e0;
    font-weight: bold;
    margin-right: auto;
}

p {
    display: flex;
    margin-left: 400px;
}

#sku {
    width: 200px;
    height: 30px;
    font-size: 1.2em;
    border-radius: 10px;
}

.submit {
    display:none;
}

