.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    justify-content: center;
    width: 700px;
    padding: 20px;
    margin: auto;
    margin-top: 40px;

}
.box {
    color: white;
    text-align: center;
    height: 90px;
}

.box img {
    margin: 0;
    width: 180px;
    height: 130px;
    

}