* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0 auto;
    text-align: center;
}

main {
    margin-top: 50px;
    border: 1px solid blue;
}

form {
    border: 1px solid red;
    margin: 0 auto ;
    text-align: center;
        
}
