* {
    margin: 0;
    padding: 0;
}

body {
    /* background: #0a3d62;*/
    /* background: #195e83; */
    background: whitesmoke;
}

/****************  Estilo de la barra de menu *******************/

.menu {
    background: red;
}

.menu .menu-lista {
    list-style: none;
    text-align: center;
}

.menu .menu-item {
    display: inline-block;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 50px;
}

.menu-link {
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
}

.menu-link:hover {
    color: black;
    font-weight: bolder;
    transition-duration: .3s;
}

/***************** Estilo de la barra del Titulo con el Logo ****************/

.header {
    color: darkblue;
    font-size: 1em;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 77px;
    /* display: flex; */
}

.titulo-principal {
    width: 55%;
    margin: 0 auto;
}

.titulo-directorio {
    margin: 0 auto;
}

/* Estilo del Contenedor agil con las Guidelines */

.contenedor-agil {
    background: rgb(35, 31, 32);
    background-image: url("../img/Agil3.png");
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 400px;
    width: 100%;
    overflow: hidden;
}

section {
    width: 55%;
    font-family: 'Courier New', Courier, monospace;
    text-justify: inter-cluster;
}

.guidelines {
    color: white;
    font-size: 1.2em;
    margin-top: 0;
}

.list-guidelines {
    margin-left: 50px;
}

.titulo {
    width: 50%;
    margin: 0 auto;
    font-size: 2em;
}

/************ Estilo de Seccion Imagenes de Footer ************/

.figura-imagen {
    display: inline-block;
}

.imagenes {
    margin-top: 10px;
    text-align: center;
    align-content: space-between;
}

.imagen-elemento {
    width: 150px;
    height: 150px;
    margin: 0 60px;
}

.caption {
    color: darkblue;
    font-size: 1.7em;
}

.caption:hover {
    color: black;
    background: rgb(245, 245, 245, .5);
    transition: 1s;
}

.a-imagenes {
    color: darkblue;
    text-decoration: none;
}

/************ Estilo del footer de los Contactos ************/

.footer {
    display: flex;
    color: darkblue;
    justify-content: center;
    font-size: 1em;
}

.p-footer {
    width: 400px;
}

.a-footer {
    color: darkblue;
    text-decoration: none;
}

.a-footer:hover {
    color: black;
    background: rgb(245, 245, 245, .5);
    transition: 1s;
}

.division {
    border: 1px solid teal;
}

/************ Estilo de Tabla de Directorio ************/

.directorio {
    width: 90%;
    border-collapse: collapse;
    margin-left: 50px;
}

th, td {
    height: 1.5em;
    color: darkblue;
    border: 1px solid ;
    border-color: darkblue;
    font-family: 'Courier New', Courier, monospace;
}

td {
    padding-left: 30px;
}