body {
    background: #abcbdd;
    /* background-image: url("../img/gray_back1.jpg"); */
}

.container {
    display: flex;
}

header {
    background-color: brown;
    opacity: .8;
    width: 100%;
    height: 70px;
    margin: auto;
    color: white;
}

header.submenu {
    background-color: #0652DD;
}

img {
    margin: 5px;
    width: 100px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(241, 140, 133);
}

img:hover {
    box-shadow: 5px 5px 10px rgb(14, 19, 85);
}

hr {
    background-color: brown;
    border: 1px solid red;
}

table {
    border: 1px solid black;
    bor
}